
*.rs # temporary

# vim

*~
*.swp


# node

node_modules 
logs 
npm-debug.log
.grunt
coverage


# ruby

*.gem
*.rbc
./config
/coverage/
/pkg/
/tmp/
/test/tmp
.dat*
build/
/doc/
.rvmrc


# python

__pycache__/
*.py[cod]
*$py.class
*.log
Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
.installed.cfg


# c

*.o
*.ko
*.obj
*.elf
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*486
*.x86_64
*.hex


# rust

*.o
*.so
*.rlib
*.dll
*.exe
/target

